ARCHS = $(ARCHS_STANDARD_64_BIT)
MACOSX_DEPLOYMENT_TARGET = 10.6
COMBINE_HIDPI_IMAGES = YES
ALWAYS_SEARCH_USER_PATHS = NO
USER_HEADER_SEARCH_PATHS = include
GCC_C_LANGUAGE_STANDARD = c99
GCC_WARN_64_TO_32_BIT_CONVERSION = YES
GCC_WARN_ABOUT_RETURN_TYPE = YES
GCC_WARN_ABOUT_MISSING_PROTOTYPES = YES
GCC_WARN_UNUSED_VARIABLE = YES
USE_HEADERMAP = NO
